/* CustomNavbar.css */

.custom-navbar {
  background-color: #ffffff; /* Navbar background */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  max-height: 60px;
}

.nav-link-custom {
  color: #333 !important;  /* Default link color */
  font-family: 'Poppins', sans-serif;
  margin: 10px;

  transition: color 0.3s, background-color 0.3s;
}

.nav-link-custom:hover,
.navbar-nav .nav-link:hover {
  color: #fdfdfd !important; 
  background-color: #2B2A60; 
}

.nav-link-custom:active,
.navbar-nav .nav-link:active {
  color: #fdfdfd !important; 
  background-color: #2B2A60; 
}


.nav-link-custom:after {
  color: #fdfdfd !important; 
  background-color: #2B2A60; 
}

.dropdown-menu {
  background-color: #ffffff;
  border: 1px solid #ccc;
}

.dropdown-item {
  color: #333;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
  color: #333;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        background-color: #ffffff;
    }


.navbar .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}


.navbar .dropdown-toggle {
  font-weight: normal !important;
  color: #333;
}


.navbar .dropdown.show > .nav-link,
.navbar .dropdown.show > .dropdown-toggle {
  color: #fff !important;
  background-color: #2B2A60 !important;
}

.navbar .dropdown .dropdown-menu a:active{
background-color: #2B2A60 !important;
  color: #fff !important  ;
}

.navbar .dropdown .dropdown-menu a:active .dropdown-menu{
  display:none;
}

.navbar .dropdown:hover > .nav-link,
.navbar .dropdown.show > .nav-link,
.navbar .dropdown.show > .dropdown-toggle {
  background-color: #2B2A60 !important;
  color: #ffffff !important;
}